.party-plan {
  font-size: 0;
  min-height: 5rem;
  padding: 0 15px;
}
.party-plan li {
  width: 23.3%;
  display: inline-block;
  margin-left: 15%;
  padding: 12px 0;
}
.party-plan li:first-child {
  margin-left: 0;
}
.party-plan span {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  display: block;
  padding: 4px 0;
  color: #757575;
}
.party-plan span:first-child {
  font-size: 16px;
  color: #b49885;
}
