$bgc:rgb(247,247,247);
$mainColor:#a88872;
$color:#666666;
$titleColor:#757575;
$baseColor:#757575;

.container-profit-list{
    min-height: 100%;
    background-color: rgb(235,235,235);
}
.profit-list-item{
    background-color: rgb(235,235,235);
    color: rgb(0,0,0);
    //padding:0 15px;
    width: 100%;
    p{
        font-size: 14px;
        padding: 12px 15px;
        line-height:16px;
        color: $color;
    }
    *{
        box-sizing: border-box;
    }
}
.profit-list-item-main{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    
    em{
        color:$baseColor;
    }
    
    .profit-list-item-info{
        background-color: white;
        display: flex;
        align-items: center;
        position: relative;
        padding: 14px 15px;
        width: 90%;

        i{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            line-height: 35px;
            font-size: 18px;
            color: white;
            background-color: $mainColor;
            text-align: center;

        }
        div{
            display: flex;
            flex-direction: column;
            height: 100%;
            padding-left: 20px;

        }
        span{
            font-size: 18px;
            line-height: 20px;
            padding-bottom: 4px;
        }
        em{
            padding-top: 4px;
            font-size: 13px;
            line-height: 15px;
        }

        
    }

   
    .item-tab{
        width:50%;
        padding: 23px 0;
        font-size: 18px;
        line-height: 20px;
        display: flex;
        text-align: center;
        box-sizing: border-box;
        flex-direction:column;
        background-color: rgb(247,247,247);
        em{
            font-size: 13px;
            line-height: 15px;
        }
    }
    .item-icon-right{
        width: 10%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
         i{
            //width: 10%;
            width: 10px;
            height: 20px;
            transform: rotate(90deg);
            background-color: white;
            background: url("static/imgs/arrow-right.png") no-repeat;
            background-size: cover;
            display: block;
        }
    }

}