@bodyBGColor:#fff;
html, body {
  margin: 0;
  padding: 0;
  font-family: "PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif,"Mircosoft YaHei";
  background: @bodyBGColor;
  height: 100%;
}
:global {
  .extend {
    position: relative;
  }
  .extend:before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    z-index: 10;
  }
}
.about-container {
  height: 100%;
  color: '#fff';
  &>div {
    height: 100%;
    &>div {
      height: 100%;
      .about-title {
        width: 100%;
        position: absolute;
        padding-top: 50%;
        top: 6%;
        background: url("static/imgs/about/about-title.png") no-repeat center;
        background-size: contain;
      }
      .about-content {
        position: absolute;
        bottom: 68px;
        text-align: center;
        color: #fff;
        padding: 0 20px;
        font-size: 12px;
        font-weight: 100;
        text-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
        p {
          margin-top: 18px;
          line-height: 1.5;
        }
        .level-info {
          width: 150px;
          margin: 5px auto;
          p {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            margin-top: 1px;
          }
        }
      }
      .bottom-wrap {
        position: absolute;
        bottom: 20px;
        height: 22px;
        text-align: center;
        left: 0;
        right: 0;
        .page {
          color: #fff;
          position: absolute;
          left: 15px;
          font-weight: 100;
        }
        .arrow {
          display: inline-block;
          width: 11px;
          height: 17px;
          background: url("static/imgs/nav/array.png") no-repeat center;
          background-size: contain;
          transform: rotateZ(90deg);
          animation: arrow-up 1.5s ease-in-out infinite;
        }
        @-webkit-keyframes arrow-up {
          0% {
            transform: translateY(10px) rotateZ(90deg);
            opacity: 0;
          }
          50% {
            transform: translateY(-5px) rotateZ(90deg);
            opacity: 1;
          }
          100% {
            transform: translateY(-20px) rotateZ(90deg) scale(2);
            opacity: 0;
          }
        }
        @keyframes arrow-up {
          0% {
            transform: translateY(10px) rotateZ(90deg);
            opacity: 0;
          }
          50% {
            transform: translateY(-5px) rotateZ(90deg);
            opacity: 1;
          }
          100% {
            transform: translateY(-20px) rotateZ(90deg) scale(2);
            opacity: 0;
          }
        }
      }
      &:nth-child(1) {
        background: url("static/imgs/about/about-bg1.png") no-repeat center;
        background-size: cover;
      }
      &:nth-child(2) {
        background: url("static/imgs/about/about-bg2.png") no-repeat center;
        background-size: cover;
      }
      &:nth-child(3) {
        background: url("static/imgs/about/about-bg3.png") no-repeat center;
        background-size: cover;
      }
      &:nth-child(4) {
        background: url("static/imgs/about/about-bg4.png") no-repeat center;
        background-size: cover;
      }
    }
  }
}
