.virtual-input {
  display: block;
  padding: 16px 15px;
  background-color: white;
}
.virtual-input * {
  box-sizing: border-box;
  border: 1px solid red;
}
.virtual-input input {
  text-align: left;
  line-height: 18px;
  width: 100%;
  border-width: 0;
  margin-right: 12px;
}
.virtual-input input:focus {
  outline: none;
  border-width: 0;
}
