@txtColor:#ae8e72;
@assetTitleColor:#757575;
@bdColor:#c0c0c0;
@bodyBGColor:#E1E1E1;
@coverTxtColor:#ffca43;

html, body {
  margin: 0;
  padding: 0;
  font-family: "PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif,"Mircosoft YaHei";
  background: @bodyBGColor;
  height: 100%;
}

main{
  /** 首页头部 **/
  .top-container {
		width: 100%;
		height: 240px;
		overflow: hidden;
		position: relative;
		background: #000;
    .top-bg {
      background: #000 url('static/imgs/top-bg.png') no-repeat;
      background-size: cover;
      width: 100%;
      height: 280px;
      position: absolute;
      top: -35px;
      z-index: 0;
      animation: bg-ani 10s linear infinite;
    }
    .content {
      position: absolute;
      text-align: center;
      color: @txtColor;
      z-index: 3;
      top: 60px;
      left: 0;right: 0;
      line-height: 1;

      h1,h3,h5,p {
        margin: 0;
      }
      h5 {
        font-size: 12px;
        margin-bottom: 3px;
        opacity: .5;
      }
      h3 {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 3px;
        opacity: .7;
      }
      h1 {
        font-size: 64px;
        font-weight: 100;
        font-family: "PingFang SC";
      }
      p {
        font-size: 10px;
        font-weight: 200;
        opacity: .5;
      }

      .btn-group {
        text-align: center;
        margin-top: 20px;
        .btn {
          display: inline-block;
          width: 100px;
          height: 30px;
          border: 1px solid @txtColor;
          border-radius: 3px;
          font-size: 13px;
          line-height: 30px;
          margin: 0 10px;
        }
      }
    }
	}
  /** 资产详情 **/
  .asset-container {
    width: 100%;
    height: 100px;
    background: #fff;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    text-align: center;
    padding: 12px;
    .item {
      -webkit-flex:1;
      flex: 1;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      &:first-child {
        border-right: 1px solid @bdColor;
      }

      span {
        color: @assetTitleColor;
        font-weight: 200;
        padding-top: 18px;
        font-size: 14px;
      }
      h3 {
        margin: 0;
        color: @txtColor;
      }
    }
  }
}
/** 了解QBII弹层 **/
.cover-container {
  &.active {
    display: block;
  }
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 4;
  color: @coverTxtColor;
  text-align: center;
  font-weight: 200;
  padding-top: 50px;
  animation-duration: .5s;

  .img {
    background: url("static/imgs/qbii-bg.png") no-repeat center;
    background-size: contain;;
    height: 250px;
    margin: 15px 0;
    animation-delay: 0.6s;
  }
  p {
    font-size: 15px;
    margin: 0;
  }
  .txt {
    font-size: 13px;
  }
  h1 {
    margin: 0 0 20px;
    font-size: 55px;
    font-weight: 200;
    line-height: 1;
  }
  .btn-join {
    display: inline-block;
    border: 1px solid @coverTxtColor;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    line-height: 40px;

  }
}
/** 头部仪表盘 **/
#dash {
  display: block;
  margin: 20px auto;
  z-index: 2;
  position: relative;
}
/***** ainimation *****/
@-webkit-keyframes bg-ani {
  0%{-webkit-transform:  perspective(0px) rotateY(0deg) scaleX(1.1);}
  10%{-webkit-transform:  perspective(1000px) rotateY(5deg) scaleX(1.11);}
  20%{-webkit-transform:  perspective(1000px) rotateY(10deg) scaleX(1.12);}
  25%{-webkit-transform:  perspective(1000px) rotateY(15deg) scaleX(1.15);}
  30%{-webkit-transform:  perspective(1000px) rotateY(10deg) scaleX(1.12);}
  40%{-webkit-transform:  perspective(1000px) rotateY(5deg) scaleX(1.11);}
  50%{-webkit-transform:  perspective(0px) rotateY(0deg) scaleX(1.1);}1
  60%{-webkit-transform:  perspective(1000px) rotateY(-5deg) scaleX(1.1);}
  70%{-webkit-transform:  perspective(1000px) rotateY(-10deg) scaleX(1.12);}
  75%{-webkit-transform:  perspective(1000px) rotateY(-15deg) scaleX(1.15);}
  80%{-webkit-transform:  perspective(1000px) rotateY(-10deg) scaleX(1.12);}
  90%{-webkit-transform:  perspective(1000px) rotateY(-5deg) scaleX(1.11);}
  100%{-webkit-transform:  perspective(0px) rotateY(0deg) scaleX(1.1);}
}

@keyframes bg-ani {
  0%{transform: perspective(0px) rotateY(0deg) scaleX(1.1);}
  10%{transform: perspective(1000px) rotateY(5deg) scaleX(1.11);}
  20%{transform: perspective(1000px) rotateY(10deg) scaleX(1.15);}
  25%{transform: perspective(1000px) rotateY(15deg) scaleX(1.2);}
  30%{transform: perspective(1000px) rotateY(10deg) scaleX(1.15);}
  40%{transform: perspective(1000px) rotateY(5deg) scaleX(1.11);}
  50%{transform: perspective(0px) rotateY(0deg) scaleX(1.1);}1
  60%{transform: perspective(1000px) rotateY(-5deg) scaleX(1.1);}
  70%{transform: perspective(1000px) rotateY(-10deg) scaleX(1.15);}
  75%{transform: perspective(1000px) rotateY(-15deg) scaleX(1.2);}
  80%{transform: perspective(1000px) rotateY(-10deg) scaleX(1.15);}
  90%{transform: perspective(1000px) rotateY(-5deg) scaleX(1.11);}
  100%{transform: perspective(0px) rotateY(0deg) scaleX(1.1);}
}
